
html {
  scroll-behavior: smooth;
}


body{
  background-color: #eeeeee;
}

.card2 {
  background-color :#E2E2E2 !important;
  font-family: Arial;
}
.card-header{
  background-color: rgb(52,58,64);
  text-align: center;
}

a { color:#FFFFFF;
text-decoration:none;
}

a:hover {
color:#FFFFFF;
text-decoration : none;
}


.dashcard{
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    /*cursor: pointer;*/
    height: 300px;
}
.dashcard:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


  .tdremarks{
  font-size: 10px;
    max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#remark_view{
    height:200px;
    width:200px;
    position: relative;
    overflow: auto; 
}


.containermsg {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containermsg::after {
  content: "";
  clear: both;
  display: table;
}

.containermsg h6 {
  float: left;
  /*max-width: 150px;*/
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/*.containermsg h6.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}*/

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
